<%= form_for [@comment] do |f| %>
  <%= f.hidden_field :commentable_id, value: model.id %>
  <%= f.hidden_field :commentable_type, value: model.class.to_s %>
  <p>
    <%= f.label :body, "Add comment" %>
    <%= f.text_area :body, class: "form-control", rows: "5" %>
  </p>
  <%= f.submit %>
<% end %>
