<%= form_for @possesion do |f| %>
  <%= f.hidden_field :puzzle_id, value: @puzzle.id %>
    <div class="center"><%= f.label :status %></div>
    <%= f.collection_radio_buttons(:status, ["Owned", "To buy", "Reset"], :itself, :itself) do |b| %>
      <p><%= b.label(class: "radio-inline") {b.radio_button + b.text} %></p>
    <% end %>
  <%= f.submit "SET", class: "full-line btn btn-xs" %>
<% end %>
