<h1>Users:</h1>
<ul>
  <% @users.each do |user| %>
    <div class="inline" style="font-size: 22px">
      <li><%= user.nickname %>
        <%= link_to "Show", user, class: "btn btn-primary btn-xs"%>
        <span style="font-size: 15px">
          <%= user.email %>
          | Owned puzzles: <%= user.possesions.where(status: "Owned")&.count %>
          | To buy: <%= user.possesions.where(status: "To buy")&.count %>
        </span>
      </li>
    </div>
  <% end %>
</ul>
