<div class="col-md-12 list-group-item ch-row" style="margin-top: 30px">
  <div class="col-md-4 ch-col">
    <h2 class="no-top-m"><%= @user.nickname.titleize %></h2>
    <% if @user.nickname != @user.email %>
      email: <b><%= @user.email %></b><br>
    <% end %>
    <% if @user.name %>
      Name: <b><%= @user.name %></b><br>
    <% end %>
    <% if @user.surname %>
      Surname: <b><%= @user.surname %></b>
    <% end %>
    <br>
  </div>

  <div class="col-md-8 description ch-col">
    <p style="font-size: 17px;">
      <ul>
        <% if @user.possessed_puzzles.any? %>
          <% if @user.possessed_puzzles.map(&:inventor).any? %>
            <li>Most puzzles in <%= @user.nickname %> possession was invented by
            <%= @user.possessed_puzzles.most_popular_inventors.first.full_name %></li>
          <% end %>
          <li>Main producer of <%= @user.nickname %> puzzles is
          <%= @user.possessed_puzzles.most_popular_producers.first.name %></li>
          </li>
          <li><%= @user.nickname %> favourite material is
          <%= most_popular_material(@user.possessed_puzzles) %></li>
        <% end %>
        <% if @user.rates.any? %>
          <li>Average rating of puzzles by <%= @user.nickname %> is
          <%= @user.rates.average(:rating).round(2) %></li>
          <li><%= @user.nickname %> favourite puzzle is
          <%= @user.rates.max_by(&:rating).puzzle.name %></li>
        <% end %>
      </ul>
    </p>
  </div>
  <div class="bottom-right">
    <%= link_to "Edit", edit_user_registration_path,
      class: "btn btn-primary btn-xs" if policy(@user).update? %>
    <%= link_to "Back", users_path, class: "btn btn-primary btn-xs" %>
  </div>
</div>





<div class="col-md-12 list-group-item ch-row window-no-padding">
  <h3 class="window-top"><%= @user.nickname.titleize %> owns
    <%= pluralize(@user.possesions.where(status: "Owned").count, 'puzzle') %>:</h3>
  <% @user.possesions.where(status: "Owned").map { |possesion| possesion.puzzle}.each do |puzzle| %>
    <div class="inline" style="font-size: 18px">
      <li>
        <%= puzzle.name %>
        <%= link_to "Show", puzzle, class: "btn btn-primary btn-xs"%>
        <span style="font-size: 17px">
          <% if puzzle.rates.any? %>
            Rating: <%= puzzle.rates.average(:rating)&.round(2) %>/10 |
          <% end %>
          Producer: <%= puzzle.producer.name %>
          <% if puzzle.inventor %>
            | Inventor: <%= puzzle.inventor.full_name %>
          <% end %>
        </span>
      </li>
    </div>
  <% end %>
</div>


<div class="col-md-12 list-group-item ch-row window-no-padding">
  <h3 class="window-top"><%= @user.nickname.titleize %> wants to buy
    <%= pluralize(@user.possesions.where(status: "To buy").count, 'puzzle') %>:</h3>
  <% @user.possesions.where(status: "To buy").map { |possesion| possesion.puzzle}.each do |puzzle| %>
    <div class="inline" style="font-size: 20px">
      <li>
        <%= puzzle.name %>
        <%= link_to "Show", puzzle, class: "btn btn-primary btn-xs"%>
        <span style="font-size: 17px">
          <% if puzzle.rates.any? %>
            Rating: <%= puzzle.rates.average(:rating)&.round(2) %>/10 |
          <% end %>
          Producer: <%= puzzle.producer.name %>
          <% if puzzle.inventor %>
            | Inventor: <%= puzzle.inventor.full_name %>
          <% end %>
        </span>
      </li>
    </div>
  <% end %>
</div>


<div class="col-md-12 list-group-item ch-row window-no-padding">
  <h3 class="window-top"><%= @user.nickname.titleize %> rated <%= pluralize(@user.puzzles.count, 'puzzle') %>:</h3>
  <% @user.puzzles.each do |puzzle| %>
    <div class="inline" style="font-size: 20px">
      <li>
        <%= puzzle.rates.where(user: @user).first.rating %>/10 |
        <%= puzzle.name %>
        <%= link_to "Show", puzzle, class: "btn btn-primary btn-xs"%>
        <span style="font-size: 17px">
          Rating: <%= puzzle.rates.average(:rating)&.round(2) %>/10 |
          Producer: <%= puzzle.producer.name %>
          <% if puzzle.inventor %>
            | Inventor: <%= puzzle.inventor.full_name %>
          <% end %>
        </span>
      </li>
    </div>
  <% end %>
</div>
