<div class="col-md-6 light-border">
  <%= form_for @inventor do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control obligatory", placeholder: "Obligatory field" %>
      <%= render 'common/errors', object: @inventor, field_name: :name %>
    </p>

    <p>
      <%= f.label :surname %>
      <%= f.text_field :surname, class: "form-control" %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control vertical-resize", rows: "5" %>
    </p>

    <p>
      <%= f.label :country %>
      <%= f.collection_select(:country_id, @countries, :id, :name, {include_blank: '--'}, { class: 'form-control chosen-select' }) %>
    </p>

    <p>
      <%= f.label :century %>
      <%= f.number_field :century, in: -20..21, class: "form-control" %>
    </p>

    <p>
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Back", inventors_path, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
