<h1>Inventors List!</h1>
<ul>
  <% @inventors.each do |inventor| %>
      <div class="inline" style="font-size: 30px">
        <li><%= inventor.full_name.titleize %>
          <%= link_to "Show", inventor, class: "btn btn-primary btn-sm"%>
          <span style="font-size: 15px">
            <% link_label =  pluralize(inventor.puzzles.count, 'puzzle') + " in database" %>
            <%= inventor.country&.name %>
            <%= "|" if inventor.country %>
            <%= link_to link_label, puzzles_path(ql: {inventor_id: inventor.id}), class: "text-link" %>
          </span>
          </li>
        </div>
  <% end %>
</ul>

<% if policy(@inventors).create? %>
  <%= link_to "Add new inventor", new_inventor_path, class: "btn btn-primary" %>
<% else %>
  You have to be <%= link_to "logged in", user_session_path, class: "text-link" %> to add new inventor
<% end %>
