<%= form_for @company do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Obligatory field" %>
  </p>


  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: "5" %>
  </p>

  <p>
    <%= f.label :country %>
    <%= f.collection_select(:country_id, @countries, :id, :name, {include_blank: '--'}) %>
  </p>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to "Back", companies_path, class: "btn btn-primary" %>
<% end %>
