<h1 class="text-center">Companies List!</h1>
<div class="list-group">
  <% @companies.each do |company| %>
    <div class="list-group-item">
      <h1 style="display: inline"><%= company.name.capitalize %></h1>
      <p>
        <% link_label =  company.puzzles.count.to_s + "puzzles in database" %>
        <%= company.country.name %> |
        <%= link_to link_label, puzzles_path(q: {company_id: company.id}), class: "text-link" %>
      </p>
      <p><%= link_to "Show", company, class: "btn btn-primary btn-xs"%></p>
    </div>
  <% end %>
</div>

<% if policy(@companies).create?%>
  <%= link_to "Add new company", new_company_path, class: "btn btn-primary" %>
<% else %>
  You have to be <%= link_to "logged in", user_session_path, class: "text-link" %> to add new company
<% end %>
