<h1 class="text-center">Countries List!</h1>
<%= form_for :country, method: :get do |f| %>
  <%= f.label :q, "Search" %>
  <%= f.text_field :q, autofocus: true %>
  <%= f.submit "Search", class: "btn btn-primary btn-xs" %>
<% end %>

<div class="list-group col-md-12 no-padding">
  <% @countries.each do |country| %>
  <div class="list-group-item col-md-4 no-radius">
    <div class="chopped col-md-3">
      <h3 class="inline"><%= country.name %></h3>
    </div>
    <%= link_to "Delete", country, method: :delete,
    data: { confirm: "Do you really want to delete #{country.name}" },
    class: "btn btn-danger btn-xs button-right" if policy(@country).destroy? %>
  </div>
  <% end %>
</div>


<div>
  <%= form_for @country do |f| %>
    <%= f.text_field :name, placeholder: "Enter new country",class: "col-md-10 obligatory" %>
    <%= f.submit class: "col-md-2 btn-primary" %>
    <%= render 'common/errors', object: @country, field_name: :name %>
  <% end if policy(@country).create? %>
</div>
