<h1 class="text-center">Materials List!</h1>

<div class="list-group col-md-12 no-padding">
  <% @materials.each do |material| %>
  <div class="list-group-item col-md-4 no-radius">
    <h3 style="display: inline">
      <% link_label = material.name %>
      <% link_label += " (" + material.puzzles.count.to_s + ")" if material.puzzles.any?%>
      <%= link_to link_label, puzzles_path(q: {material_id: material.id}), style: "color: black" %>
    </h3>
    <!-- <%= link_to "Delete", material, method: :delete,
    data: { confirm: "Do you really want to delete #{material.name}" },
    class: "btn btn-danger btn-xs button-right"%> -->
  </div>
  <% end %>
</div>


<div>
  <%= form_for @material do |f| %>
    <%= f.text_field :name, placeholder: "Enter new material",class: "col-md-10" %>
    <%= f.submit class: "col-md-2 btn-primary" %>
  <% end %>
</div>
