<div class="topnav" id="myTopnav">
  <div class="container">
    <%= link_to "Puzzles", puzzles_path, class: page_is_active("puzzles")%>
    <%= link_to "Users", users_path, class: page_is_active("users") %>
    <%= link_to "Companies", companies_path, class: page_is_active("companies")%>
    <%= link_to "Inventors", inventors_path, class: page_is_active("inventors")%>
    <%= link_to "Materials", materials_path, class: page_is_active("materials")%>
    <%= link_to "Countries", countries_path, class: page_is_active("countries")%>
    <div style="float: right">
      <% if current_user %>
        <div class="dropdown_ml">
          <span class="topnav-text">logged as: <%= current_user.nickname %></span>
          <%= link_to "Edit account", edit_user_registration_path, class: "dropdown_ml-content" %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown_ml-content" %>
        </div>
      <% else %>
        <%= link_to "Log in", user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </div>
  </div>
</div>
