<h1 class="text-center"><%= @model.model_name.plural.capitalize %> List!</h1>
<div class="list-group">
  <% @model.each do |object| %>
    <div class="list-group-item">
      <h1 style="display: inline"><%= object.name.capitalize %>
        <%= object.surname&.capitalize if object.class == Inventor %>
      </h1>
      <p><%= link_to "Show", object, class: "btn btn-primary btn-xs"%></p>
    </div>
  <% end %>
</div>

<%= link_to "Add new #{@model.model_name.singular}", "/#{@model.model_name.plural}/new", class: "btn btn-primary btn-xs", style: "margin-left: 15px" %>
