<div class="row">
  <div class="col-md-4" style="background: red"><%= text_area_tag @puzzle, :description, style: "width: 100%"%></div>
  <div class="col-md-1" style="background: blue"><%= text_area_tag @puzzle, :description, style: "width: 100%"%></div>
  <div class="col-md-2" style="background: black"><%= text_area_tag @puzzle, :description, style: "width: 100%"%></div>
  <div class="col-md-4" style="background: red"><%= text_area_tag @puzzle, :description, style: "width: 100%"%></div>
  <div class="col-md-2" style="background: blue"><%= text_area_tag @puzzle, :description, style: "width: 100%"%></div>
</div>
