<h1 class="text-center"><%= @pre_set&.name || "Puzzle" %>  List!</h1>
<%= form_for :puzzle, method: :get do |f| %>
  <%= f.label :q, "Search" %>
  <%= f.text_field :q, autofocus: true %>
  <%= f.submit "Search", class: "btn btn-primary btn-xs" %>
<% end %>
<div class="list-group row">
  <% @puzzles.each do |puzzle| %>
      <%= render 'index_show', puzzle: puzzle %>
  <% end %>
</div>

<p>
  <% @pre_hash = {puzzle: {(@pre_set.model_name.singular + "_id") => @pre_set.id.to_s}} if @pre_set%>
  <% if policy(@puzzles).create?%>
    <%= link_to "Add new puzzle", new_puzzle_path(@pre_hash), class: "btn btn-primary" %>
  <% else %>
    You have to be <%= link_to "logged in", user_session_path, class: "text-link" %> to add new puzzles
  <% end %>
</p>
