<div class="row light-border ch_row">

  <div class="col-md-4 ch_first">
    <%= image_tag @puzzle.avatar.avatar_size, class: "avatar" if @puzzle.avatar.present? %>
    <h1><%= @puzzle.name %></h1>

    <p>
      Difficulty level: <b><%= @puzzle.level %>/6</b>
    </p>

    <p>
      Producer: <%= link_to @puzzle.producer.name, @puzzle.producer, class: "text-link" %>
    </p>

    <p>
      <% if @puzzle.materials.any? %>
        Materials: <%= @puzzle.materials.map(&:name).join(', ').titleize %>
      <% end %>
    </p>

    <p>
      <% if @puzzle.inventor %>
        <%= @puzzle.name %> was invented by
        <%= link_to @puzzle.inventor.full_name, @puzzle.inventor, class: "text-link" %>
        <% if @puzzle.design_year %>
          in the year <%= @puzzle.design_year %>
        <% end %>
      <% else %>
        <% if @puzzle.design_year %>
          <%= @puzzle.name %> was invented in the year <%= @puzzle.design_year %>
        <% end %>
      <% end %>
    </p>
  </div>


  <div class="col-md-8 description ch_second">
    <% if @puzzle.description %>
      <h2>Description:</h2>
      <p><%= @puzzle.description %></P>

    <% end %>

    <div class="bottom-left">
      <% if @rate.new_record?%>
        <%= render 'rates/form' %>
      <% else %>
        You rated this puzzle for <%= @rate.rating %>/10
        <%= link_to "Delete rate", @rate, method: :delete,
          class: "btn btn-danger btn-xs" if policy(@rate).destroy? %>
      <% end %>

      <%= render 'possesions/form' %>
    </div>

    <div class="bottom-right">
      <%= link_to "Edit", edit_puzzle_path(@puzzle),
        class: "btn btn-primary btn-xs" if policy(@puzzle).update? %>
      <%= link_to "Delete", @puzzle, method: :delete,
        data: { confirm: "Are you sure you want do delete #{@puzzle.name} puzzle?" },
        class: "btn btn-danger btn-xs" if policy(@puzzle).destroy? %>
      <%= link_to "Back", puzzles_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
</div>


<h3>Comments</h3>
<p>
  <%= render 'comments/form', model: @puzzle %>
</p>
<button id="button-comments-list-all">Show comments</button>
<div class="comments-list-hidden" id="comments-list-all">
  <%= render 'comments/list', model: @puzzle  %>
</div>
